<div class="jumbotron">
  <h1>Toytastic</h1>
  <p class="lead">...The best place to buy used and pre-owned toys</p>
  <%= link_to "Become a Seller", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Look for Toys", new_user_registration_path, class: "btn btn-large btn-success" %>
</div>
