<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @to.name %>,</p>
    <p>You have a new message from <%= @user.name %></p>
    <p>It's best to reply quickly so you can have a successful transaction!</p>
    <p>
    To check your message, you can login at <%= root_url %>.
    </p>
  </body>
</html>
