<h1> OMG, you found the crazy admin section</h1>

<h2> Don't push the red button. Your users may not survive</h2>

<%= link_to "Do you feel lucky?", do_crazy_things_path, class: "btn btn-large btn-danger" %>
