<div class="col-xs-10 col-xs-offset-1">
<%= form_tag toys_path, method: :get, class: "form-horizontal" do  %>
  <div class="form-group">
    <div class="col-xs-9">
      <%= text_field_tag :search_terms, @search_keywords, size: 50, placeholder: "Star Wars Toys", class: "form-control" %>
    </div>
    <div class="col-xs-3">
      <%= submit_tag "Search", class: "btn btn-small" %>
    </div>
  </div>
<% end %>
</div>
